#bluemixlogo {
	width: 75%;
}

.bg {
  	background: no-repeat center center;
  	width: 100%;
  	margin-top: 40px;
  	top:0;
  	left:0;
  	z-index: -1;

}

#counterHeading {
	font-size: 50px;
	color: white;
}

.timer-area {
	background-color: #000;
	text-align: center;
	height: auto;
  	margin: 0 auto;

}

ul#countdown {
	margin-right: 30px;
}

ul#countdown li{
	display: inline-block;
	background: transparent url('../img/timer-piece.png') no-repeat left top;
	width: 104px;
}

ul#countdown span{
	font-size: 3em;
	font-weight: bold;
	height: 110px;
	line-height: 110px; 
}

p.timeRefDays, p.timeRefHours, p.timeRefMinutes, p.timeRefSeconds {
	margin-top: 2em;
	text-transform: uppercase;
}

ul#countdown p{
	color: white;
	}

.supporters{
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-top: 0px;
}

.bluemix {
  width: 100%;
  padding-top: 0px;
  height: auto;
  margin: 0 auto;
}

.feedNS {
  width: 90%;
  height: auto;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

ul#tutorialLinks {
	font-size: 20px;
	font-weight: bold;
}

