#bluemixlogo {
	width: 75%;
}

.bg {
  	background: url('../img/bluemix_logo.jpg') no-repeat center center;
  	width: 100%;
  	top:0;
  	left:0;
  	z-index: -1;

}

#counterHeading {
	font-size: 50px;
	color: white;
}

.timer-area {
	background-color: #000;
	text-align: center;
}

ul#countdown li{
	display: inline-block;
	background: transparent url('../img/timer-piece.png') no-repeat left top;
	width: 104px;
}

ul#countdown span{
	font-size: 3em;
	font-weight: bold;
	height: 110px;
	line-height: 110px; 
}

p.timeRefDays, p.timeRefHours, p.timeRefMinutes, p.timeRefSeconds {
	margin-top: 2em;
	text-transform: uppercase;
}

ul#countdown p{
	color: white;
	}


